<div class="card-container">
    <div id="header">
        <div id="name">{{customerData.name}}</div><a class="edit" (click)="onEditClicked()">
            <fa-icon [icon]="editIcon"></fa-icon>
        </a>
    </div>
    <div id="details">
        <div id="gender">{{getGenderValue(customerData.gender)}}</div>
        <div id="other-data">
            <div id="originState">{{customerData.originState}}</div>
            <a class="link" (click)="onViewOrders()">View Orders</a>
        </div>
    </div>
</div>