<div class="card-container">
    <div class="card-header">
        <div>{{customerData.name}}</div><a class="edit" (click)="onEditClicked()">
            <fa-icon [icon]="editIcon"></fa-icon>
        </a>
    </div>
    <div class="card-details">
        <img class="card-gender" [src]="getImagePathByValue(customerData.gender)" />
        <div class="card-other-data">
            <div>{{customerData.originState}}</div>
            <a class="link" (click)="onViewOrders()">View Orders</a>
        </div>
    </div>
</div>