.validation-message {
    color: red;
}

ul {
    padding: 10px;
    padding-bottom: 0px;
    margin: 0px;
}

ul li {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

ul li p {
    margin: 0px;
    padding: 0px;
}