<div class="container">
    <div style="text-align: center;">
        <h1>Customer Manager</h1>
        <h3>Sign in</h3>
    </div>
    <form class="container-fluid">
        <div class="input-group mt-3">
            <span class="input-group-text" id="basic-addon1">@</span>
            <input [(ngModel)]="username" type="text" class="form-control" placeholder="Username" aria-label="Username"
                aria-describedby="basic-addon1" name="username">
        </div>
        <div class="input-group mt-3">
            <span class="input-group-text" id="basic-addon2">#</span>
            <input [(ngModel)]="password" type="password" class="form-control" placeholder="Password"
                aria-label="Password" aria-describedby="basic-addon2" name="password">
        </div>
        <div *ngIf="!getCredentialsAreValid()" class="mt-3 red">Username or password is invalid!</div>
        <button (click)="login()" class="btn btn-primary mt-3">Login</button>
    </form>
</div>