<div class="container">
    <div style="text-align: center;">
        <h1><fa-icon [icon]="logoIcon"></fa-icon> Customer Manager</h1>
    </div>
    <form class="container-fluid">
        <div class="input-group mt-3">
            <span class="input-group-text" id="basic-addon1"><fa-icon [icon]="userIcon"></fa-icon></span>
            <input [(ngModel)]="username" type="text" class="form-control" placeholder="Username" aria-label="Username"
                aria-describedby="basic-addon1" name="username">
        </div>
        <div class="input-group mt-3">
            <span class="input-group-text" id="basic-addon2"><fa-icon [icon]="passwordIcon"></fa-icon></span>
            <input [(ngModel)]="password" type="password" class="form-control" placeholder="Password"
                aria-label="Password" aria-describedby="basic-addon2" name="password">
        </div>
        <app-validation-result [isNotValid]="!isValid()" [validationResults]="validationResults"></app-validation-result>
        <div style="display: flex; justify-content: end;"><button (click)="login()" class="btn btn-primary mt-3">Login</button></div>
    </form>
</div>