.container {
    display: flex;
    margin: 0px;
    padding: 0px;
    max-width: 1000px;
}

ul, ul li {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}